<div>
  <p>父组件</p>
  <!--<div>-->
    <!--<input type="text" placeholder="输入股票" [(ngModel)]="stock">-->
    <!--<app-order [stockCode]="stock" [amount]="100"></app-order>-->
  <!--</div>-->
  <!--<app-price-quate (lastPrice)="priceQuateHandler($event)"></app-price-quate>-->
  <!--<div>-->
    <!--这是在报价组件外，股票代码是{{priceQuate.stockCode}}-->
    <!--股票价格是{{priceQuate.lastPrice | number:"2.2-2"}}-->
  <!--</div>-->

  <app-price-quate (buy)="buyHandler($event)"></app-price-quate>
  <app-order [priceQuate]="priceQuate"></app-order>
</div>

